*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20pxs;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    position: relative;
    padding: 12px;
}
nav ul a{
    text-decoration: none;
    color: #555;

}
nav ul li:hover{
    
    background: #563434;
    color: aliceblue;
    width: 100px;
    padding: 2px;
    text-align: center;
  
   
    
}
p{
    color: #555;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.categories .row h3{
    text-align: center;
    margin: 10px;
    color: #db5e4d;
}
.col-2{
    flex-basis: 50%;

    min-width: 500px;
}
.col-2 img{
    width: 450px;
    height: 400px;
    padding: 25px 0;
}
.col-2 h3{
    font-size: 36px;
    line-height: 40px;
    margin: 25px 0;
    color: #db5e4d;
}
.col-2 b{
    color: #563434;
}
/* .btn a{
    display: inline-block;
    background: #db5e4d;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
} */
.btn{
    width: 175px;
    padding: 5px;
    margin: 30px;
    background: #563434;
    color: aliceblue;
}
.btn:hover{
    background: #db5e4d;
    color: aliceblue;
   
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
    margin-top: 70px;

}

.buy button{
    justify-content: center;
    align-items: center;
    width: 125px;
    margin-left: 200px;
    top: 75px;
    color: #563434;
    background:#db5e4d;
    border-radius: 10px;
    border: 1px solid #fff;
    position: relative;
}


.categories .col-3{
    margin: 70px 0;
    
}
.categories .col-3{
   font-size: 20px;
    width: 400px;
    height: 625px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 15px;
    background: #563434;
    color: #fff;
}
.categories .col-3 p{
    color: #db5e4d;
}
.categories .col-3 img{
    width: 120px;
    height: 140px;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.row{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
   
}
.small-container h2{
    color: #db5e4d;
    text-align: center;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 40px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.col-4:hover{
    transform: translateY(-5px);
}
.testimonial
{
    
    padding: 100px;
    background: #563434;

}
.testimonial h2{
    text-align: center;
    color: #ffd6d6;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    color: #ffd6d6;
}  
.testimonial .col-3 p{
    color: aliceblue;
} 
.testimonial .col-3 img{
    width: 50px;
    margin-top: 30px;
    border-radius: 50%;
}
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.offer .col-2{
    color: #db5e4d;
}
.offer h4{
    text-decoration: line-through;
}
 .footer{
    background: #563434;
    color: #ffd6d6;
    font-size: 14px;
    padding: 60px 0 20px;
 }
 .footer p{
    color: #ffd6d6;
 }
 .footer h3{
    color: #fff;
    margin-bottom: 20px;

 }
 .footer-col-1, .footer-col-2, .footer-col-3{
    min-width: 250px;
    margin-bottom: 20px;
 }
 .footer-col-1{
    flex-basis: 30%;
 }
 .footer-col-2{
    flex: 1;
    text-align: center;
 }
 .footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
 }
 .footer-col-3{
    flex-basis: 12%;
    text-align: center;
 }
 ul{
    list-style-type: none;
 }
 .app-logo{
    width: 140px;

 }
 .footer hr{
    border: none;
    background: #db5e4d;
    height: 1px;
    margin: 20px 0;
 }
 .Copyright{
    text-align: center;
 }